body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans';
	font-size: 10pt;
	line-height: 28px;
}

body a, body a:visited {
	color: #f05400;
}

.bgimg {
	background: url("../img/splashbg.jpg") no-repeat transparent;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	background-size: cover;
	
    -webkit-animation: fadein_info 2s; /* Safari and Chrome */
       -moz-animation: fadein_info 2s; /* Firefox */
        -ms-animation: fadein_info 2s; /* Internet Explorer */
         -o-animation: fadein_info 2s; /* Opera */
            animation: fadein_info 2s;	
}

.overlay {
	min-height: 100%;
	min-width: 100%;
	border: 15px solid #FFF;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
    box-sizing:        border-box;
    background-color: rgba(228, 235, 237, .9);
}

.hatchit_info {
	float: left;
	max-width: 305px;
	padding: 10px 0px 10px 60px;
}

.hatchit_logo {
	max-width: 100%;
}

.hatchit_logo svg {
	background-color: transparent;
	max-width: 270px;
	height: 100px;
}

.orangeborder {
	width: 85px;
	height: 5px;;
	background-color: #f05400;
	float: left;
}

.orangefont {
	float: left;
	width: 200px;
	font-size: 14pt;
	font-style: italic;
	color: #f05400;
	margin-left: 10px;
	margin-top: -12px;
	font-weight: 800;
}

.hatchit_colors {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

.hatchit_colors ul.colors {
	list-style: none;
	float: right;
	margin-top: -70px;
	margin-right: 30px;
}

.hatchit_colors ul.colors li.square {
	float: left;
	min-height: 50px;
	min-width: 50px;
	background-color: #000;
	margin-right: 25px;
}

.hatchit_colors ul.colors li.orange_sq {
	background-color: #f05400;

	-webkit-animation: fadein_info 6s; /* Safari and Chrome */
	-moz-animation: fadein_info 6s; /* Firefox */
    -ms-animation: fadein_info 6s; /* Internet Explorer */
	-o-animation: fadein_info 6s; /* Opera */
	animation: fadein_info 6s;	
}

.hatchit_colors ul.colors li.green_sq {
	background-color: #7dc625;
	
	-webkit-animation: fadein_info 8s; /* Safari and Chrome */
	-moz-animation: fadein_info 8s; /* Firefox */
    -ms-animation: fadein_info 8s; /* Internet Explorer */
	-o-animation: fadein_info 8s; /* Opera */
	animation: fadein_info 8s;	
}

.hatchit_colors ul.colors li.blue_sq {
	background-color: #00a9d4;
	
	-webkit-animation: fadein_info 10s; /* Safari and Chrome */
	-moz-animation: fadein_info 10s; /* Firefox */
	-ms-animation: fadein_info 10s; /* Internet Explorer */
	-o-animation: fadein_info 10s; /* Opera */
	animation: fadein_info 10s;	
}

.hatchit_colors ul.colors li.teal_sq {
	background-color: #164c5c;
	
	-webkit-animation: fadein_info 12s; /* Safari and Chrome */
	-moz-animation: fadein_info 12s; /* Firefox */
	-ms-animation: fadein_info 12s; /* Internet Explorer */
	-o-animation: fadein_info 12s; /* Opera */
	animation: fadein_info 12s;	
}

/* Animation */
.hatchit_info {

    -webkit-animation: fadein_info 2s; /* Safari and Chrome */
       -moz-animation: fadein_info 2s; /* Firefox */
        -ms-animation: fadein_info 2s; /* Internet Explorer */
         -o-animation: fadein_info 2s; /* Opera */
            animation: fadein_info 2s;
}

@keyframes fadein_info {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein_info {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein_info {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein_info {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

@keyframes fadein_colors {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein_colors {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein_colors {
    from { display: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein_colors {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
