//Variables
$open_sans_bold_italic: "Open Sans Extrabold Italic";
$open_sans: "Open Sans";
$orange: #f15500;


//Hatchit SVG Logo
.logo_lettering{
  fill: #fff;
}
.greater_than,
.less_than,
.equal{
  fill: #fff;
}
.about-header-inner {
  padding: 30px
}
/* About Hatchit 
------------------------------- */
.about-hatchit {
  font-family: $open_sans;
  .about-heading {
    font-family: $open_sans;
    color: #f15500;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
  }
  .about-subheading {
    color: #777b7d;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -0.02em;
    p {
      color: #787c7d;
      font-size: 21px;
      margin-right: 40px;
      font-weight: 300;
      margin-top: 20px;
      letter-spacing: -0.01em;
      line-height: 1.7;
      opacity: 0.8;
    }
  }
}

.title-wrap {
  position: relative;
  display: block !important;
  margin-top: 0px;
  left: 0;
  right: 0;
  opacity:0;
  -webkit-transition: opacity 0.6s ease-in-out 1s;
  -moz-transition: opacity 0.6s ease-in-out 1s;
  -ms-transition: opacity 0.6s ease-in-out 1s;
  -o-transition: opacity 0.6s ease-in-out 1s;
  transition: opacity 0.6s ease-in-out 1s;
}

.about-intro {
  margin-top: 30%;
  h1,span {
    position: relative;
    z-index: 99;
  }
}

.about-header {
  // min-height: 920px
  position: relative;
  header {
    z-index: 999;
    position: relative;
  }
  .intro-bg {
    // background-image: url(../../img/Hatchit-Team.jpg);
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.our-clients {
  text-align: center;
  .clients_title {
    color: #f15500;
    font-family: $open_sans;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    margin-top: 75px;
  }
  h3.subtitle {
    color: #777b7d;
    font-family: $open_sans;
    font-size: 30px;
    font-weight: 100;
    text-transform: none;
    margin-top: 14px;
  }
  #map {
    background-color: white;
    background-image: url(../../img/Hatchit-Worldwide-Client-List.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #8d8c8c;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    margin: 50px auto 0;
    font-weight: bold;
    position: relative;
    max-width: 1270px;
    height: 600px;
    .inner {
      width: 100%;
      
      height: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .pin {
      background-repeat: no-repeat;
      background-image: url(../../img/pin.png);
      width: 42px;
      height: 57px;
      position: absolute;
      margin-top: -250px;
      opacity: 0;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      &.ca {
        left: 115px;
        top: 238px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.la {
        left: 220px;
        top: 240px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.ny {
        left: 275px;
        top: 206px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.de {
        left: 602px;
        top: 166px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.gr {
        left: 673px;
        top: 205px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.ph {
        left: 1035px;
        top: 293px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
      &.au {
        left: 1131px;
        top: 423px;
        &.inview {
          margin-top: 0;
          opacity: 1;
        }
      }
    }
  }
}

$class-slug: t !default;

@for $i from 1 through 7 {
  .our-clients #map .pin.inview.#{$class-slug}#{$i} {
    -webkit-transition: all 0.45s ease-in-out 0.5s + $i * 0.1;
    -moz-transition: all 0.45s ease-in-out 0.5s + $i * 0.1;
    -ms-transition: all 0.45s ease-in-out 0.5s + $i * 0.1;
    -o-transition: all 0.45s ease-in-out 0.5s + $i * 0.1;
    transition: all 0.45s ease-in-out 0.5s + $i * 0.1;
  }
}

.meet-team {
  a.prev-slide{
    width: 262px;
    height: 100px;
    background-color: #7cc624; // color overlay
    display: block;
    top:229px;
    position: absolute;
    p{
color: #fdfdfd; /* text color */
font-family: "Open Sans", sans-serif;
font-size: 24px;
line-height: 100px;
font-weight: 100;
    }
    span{
      display: block;
      background-image: url("../../img/white-arrow.png");
      background-repeat:no-repeat;
      background-position:center center;
      background-size: contain;
      width: 22px;
      height: 100px;
      float: left;
      margin: 0 20px 0 30px;
      
    }
  }
  a.next-slide{
    width: 100px;
    height: 100px;
    background-color: #7cc624; // color overlay
    display: block;
    top:229px;
    position: absolute;
    right: 0;
    z-index: 99999999999;
    p{
      color: #FDFDFD;
font-family: "Open Sans", sans-serif;
font-size: 19px;
line-height: 60px;
font-weight: 100;
    }
    span{
      display: block;
      background-image: url("../../img/white-arrow-right.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 22px;
      height: 100px;
      float: left;
      margin: 0 20px 0 40px;

      
    }
  }
  ul.slides {
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      .photo {
        display: block;
        img{
          max-width: 650px;
        }
      }
      .slider-container{
        max-width: 1280px;
        margin: 0 auto;
      }
      .content{
        margin-top: 80px;
        .loves{
          display: block;
          border-style:solid;
          border-width:1px 0;
          border-color:#e4ebed;
          margin-top: 40px;
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
              float: left;
              width: 25%;
              text-align: center;
              padding:20px 0; 
              &:first-child{
                text-align: left;
              }
              &:last-child{
                text-align: right;
              }
              p{
                color: #7DC525;
                font-family: "Open Sans", sans-serif;
                font-size: 60px;
                font-weight: bold;
                line-height: 50px;
                margin-bottom: 0;
                span{
                  color: #7dc525; // text color
                  font-family: "Open Sans", sans-serif;
                  font-size: 21px;
                  font-weight: bold;
                  margin-bottom: 0
                }
              }
              img{
                max-width: 100%;
              }
            }
          }
        }
      }
      h2.slide-title { 
        color: #f15500;
        font-family: "Open Sans", sans-serif;
        font-size: 48px;
        font-weight: bold;
        font-style: italic;
        background-color: transparent;
        padding: 0;
        text-align: left;
        margin-bottom: 3px;
      }
      span {
        color: #A7ABAB;
font-family: "Open Sans", sans-serif;
font-size: 18px;
font-weight: bold;
line-height: 30px;
text-transform: uppercase;
margin-bottom: 20px;
display: block;
      }
      .bio {
        display: block;
        p {
          color: #777b7d;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: 300;
          line-height: 26px;
        }
      }
    }
  }
}
@media (min-width: 1281px){
  .meet-team ul.slides li .photo img{
    max-width: 690px;
  }
  $map_width: 1270px;
  $map_height: $map_width*.38;
  $left_offset: 50px;
  $top_offset: 20px;
  .our-clients{
    #map{
      width: $map_width;
      height: $map_height;
      .pin{
        &.ca {
              left: 148px + $left_offset;
         top: 128px + $top_offset;
            }
            &.la {
                left: 245px + $left_offset;
          top: 138px + $top_offset;
            }
            &.ny {
              left: 285px + $left_offset;
         top: 112px + $top_offset;
            }
            &.de {
              left: 548px + $left_offset;
          top: 80px + $top_offset;
            } 
            &.gr {
                left: 605px + $left_offset;
          top: 110px + $top_offset;
            }
            &.ph {
                left: 898px + $left_offset;
          top: 184px + $top_offset;
            }
            &.au {
              left: 960px + $left_offset;
         top: 277px + $top_offset;
            }
          }
    }
  }
}
@media (max-width: 1280px) and (min-width: 1024px){
	$left_offset: 1;
	$top_offset: 20px;
	.our-clients{
		#map{
			width: 1100px;
			height: 425px;
			.pin{
				&.ca {
			        left: 171px + $left_offset;
				 top: 103px + $top_offset;
			      }
			      &.la {
			        	left: 250px + $left_offset;
					top: 110px + $top_offset;
			      }
			      &.ny {
			        left: 289px + $left_offset;
				 top: 86px + $top_offset;
			      }
			      &.de {
			        left: 512px + $left_offset;
					top: 56px + $top_offset;
			      }
			      &.gr {
			        	left: 565px + $left_offset;
					top: 85px + $top_offset;
			      }
			      &.ph {
			        	left: 818px + $left_offset;
					top: 149px + $top_offset;
			      }
			      &.au {
			        left: 878px + $left_offset;
				 top: 233px + $top_offset;
			      }
			    }
		}
	}
}
@media (max-width: 1023px) and (min-width: 850px){
	$map_width: 840px;
	$map_height: $map_width*.38;
	$left_offset: .76;
	$top_offset: 1;
	.our-clients{
		#map{
			width: $map_width;
			height: $map_height;
			.pin{
				&.ca {
			        left: 171px * $left_offset;
				 top: 106px * $top_offset;
			      }
			      &.la {
			        	left: 248px * $left_offset;
					top: 110px * $top_offset;
			      }
			      &.ny {
			        left: 289px * $left_offset;
				 top: 90px* $top_offset;
			      }
			      &.de {
			        left: 512px * $left_offset;
					top: 71px * $top_offset;
			      }
			      &.gr {
			        	left: 565px * $left_offset;
					top: 95px * $top_offset;
			      }
			      &.ph {
			        	left: 818px * $left_offset;
					top: 144px* $top_offset;
			      }
			      &.au {
			        left: 878px * $left_offset;
				 top: 206px* $top_offset;
			      }
			    }
		}
	}
}

@media (max-width: 849px) and (min-width: 580px){
	$map_width: 570px;
	$map_height: $map_width*.38;
	$left_offset: .5;
	$top_offset: 1.1;
	.our-clients{
		#map{
			width: $map_width;
			height: $map_height;
			.pin{
				&.ca {
			        left: 164px * $left_offset;
				 top: 104px * $top_offset;
			      }
			      &.la {
			        	left: 242px * $left_offset;
					top: 105px * $top_offset;
			      }
			      &.ny {
			        left: 279px * $left_offset;
				 top: 100px* $top_offset;
			      }
			      &.de {
			        left: 512px * $left_offset;
					top: 82px * $top_offset;
			      }
			      &.gr {
			        	left: 562px * $left_offset;
					top: 93px * $top_offset;
			      }
			      &.ph {
			        	left: 818px * $left_offset;
					top: 144px* $top_offset;
			      }
			      &.au {
			        left: 878px * $left_offset;
				 top: 166px* $top_offset;
			      }
			    }
		}
	}
}

/* Our Work
-------------------------- */
.our-work-header{
    padding: 30px;
    min-height: 40px;
    color: #000;
    nav.main-menu ul li a{
      color: #000;
    }
    .logo_lettering{
      fill: #000;
    }
    .greater_than,
    .less_than,
    .equal{
      fill: $orange;
    }
}
.featured-work{
  width: 100%;
  .featured-work-wrapper{
    width: 83%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .featured-work-item{
    display: block;
    position: relative;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border-bottom: 8px solid #fff;
    &.bottom-none{
      border-bottom: 0;
    }
    .featured-work-img,.featured-work-title{
      min-height: 365px;
    }
    img{
      position: absolute;
      bottom: -3%;
      z-index: 10;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      -ms-transition: bottom .3s ease-in-out;
      -o-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out;
      height: 86%;
      max-width: 543px;
      right: 0;
    }
    .featured-work-content{
      position: absolute;
      left: 0;
      z-index: 10;
      color: #fff;
      left: 0%;
      top: 27%;
      -webkit-transition: top .4s ease-in-out;
      -moz-transition: top .4s ease-in-out;
      -ms-transition: top .4s ease-in-out;
      -o-transition: top .4s ease-in-out;
      transition: top .4s ease-in-out;
      h2{
        font-family: "Open Sans Extrabold Italic", arial;
        font-size: 60px;
      }
      p{
        font-size: 20px;
        font-weight: 300;
      }
    }
    .bkg-overlay{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      z-index: 2;
      &.k2-coolers{
        background: #0c78b6;
      }
      &.hp-serve{
        background: #3bc0be;
      }
      &.cma-tech{
        background: #054b6f;
      }
      &.lsu-overlay{
        background: #461d7c;
      }
      .content_bottom{
        left: 8%;
        top: 47%;
        width: 40%;
        position: relative;
        -webkit-transition: visibility .4s ease-in-out;
        -moz-transition: visibility .4s ease-in-out;
        -ms-transition: visibility .4s ease-in-out;
        -o-transition: visibility .4s ease-in-out;
        transition: visibility .4s ease-in-out;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        visibility: hidden;
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            color: #fff;
            display: inline;
            margin-right: 6px;
            padding-right: 25px;
            visibility: hidden;
            background: url(../../img/work-arrow.png) no-repeat right center;
            -webkit-transition: visibility .8s ease-in-out;
            -moz-transition: visibility .8s ease-in-out;
            -ms-transition: visibility .8s ease-in-out;
            -o-transition: visibility .8s ease-in-out;
            transition: visibility .8s ease-in-out;
            &:last-child{
              background: none;
            }
          }
        }
        .fake_button{
          border: 1px solid #fff;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          font-size: 12px; 
          display: inline-block;
          color: #fff;
          span{
            padding: 12px 18px;
            display: inline-block;
            &.gt_arrow{
              padding: 15px 18px;
              border-left: 1px solid #fff;
              font-size: 14px;
            }
          }
        }
      }
    }
    &:hover{
      img{
        bottom: 0px;
      }
      .bkg-overlay{
        opacity: .8;
        z-index: 2;
        .content_bottom{
          visibility: visible;
          ul li{
            visibility: visible;
          }
        }
      }
      .featured-work-content{
        top: 10%;
      }
      
    }
  }
}
.our-work-intro{
    margin-top: 7%;
}
.our-work-intro h1{
    font-family: 'Open Sans Extrabold Italic', arial;
    font-size: 72px;
    line-height: 1em;
}
.our-work-intro span{
    font-family: 'Open Sans Extrabold Italic', arial;
    font-size: 36px;
    line-height: 1em;
}
.all-work {
  #Container .mix{
    display: none;
  }
  .want_more{
    background: #f1f6f7;
    font-size: 36px;
    color: #222222;
    padding: 5% 0;
    text-align: center;
    font-family: $open_sans_bold_italic, arial;
  }
  .work_wrapper{
    width: 98%;
    margin: 0 auto 2%;
  }
  .work {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100%;
    width: 94%;
    display: block;
    min-height: 284px;
    position: relative;
    text-align: center;
    display: table;
    margin: 3%;
  }
  .work_filter{
     text-align: center;
     padding: 3% 0;
     position: relative;
     &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -20px;
        width: 0;
        height: 0;
        border-top: solid 20px #f1f6f7;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
    }
    ul{
      display: inline-block;
      margin: 0;
      padding: 0;
      /* For IE, the outcast */
      zoom:1;
      *display: inline;
      list-style: none;
      li{ 
        display: inline;
        margin: 0 20px;
        a{
          color: #222222;
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 2px;
          border-bottom: 2px solid transparent;
          &:hover,&.current{
            text-decoration: none;
            border-bottom-color: #222;
          }
        }
        
      }
    }
  }
}
.work .black_overlay{
    position: absolute;
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000)";
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-transition: .5s background ease-in-out;
    -moz-transition: .5s background ease-in-out;
    -ms-transition: .5s background ease-in-out;
    -o-transition: .5s background ease-in-out;
    transition: .5s background ease-in-out;
}
.work:hover .black_overlay{
    background: transparent;
    background: rgba(0, 0, 0, 0);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
}
.work {
  .work_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
    padding-top: 25%;
    font-size: 16px;
    font-weight: 100;
    .view_project{
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 11px;
      span{
        margin-left: 6px;
      }
    }
    height: 100%;
  }
  .work_logo{
    display: table-cell;
    vertical-align:middle;
    position: relative;
    z-index: 10;
    img {
      max-width: 100%;
      -webkit-transition: .5s all ease-in-out;
      -moz-transition: .5s all ease-in-out;
      -ms-transition: .5s all ease-in-out;
      -o-transition: .5s all ease-in-out;
      transition: .5s all ease-in-out;
    }
  }
  &:hover{
    .work_logo img{
        margin-top: -25%;
    }
    .work_overlay{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
      color: #fff;
      padding-top: 35%;
    }
    .ccs_overlay{
      background: #e33a34;
    }
    .tedx_overlay{
      background: #584aab;
    }
    .gardere_overlay{
      background: #1465b8;
    }
  }
}