.logo_lettering {
  fill: #fff; }

.greater_than,
.less_than,
.equal {
  fill: #fff; }

.about-header-inner {
  padding: 30px; }

/* About Hatchit 
------------------------------- */
.about-hatchit {
  font-family: "Open Sans"; }
  .about-hatchit .about-heading {
    font-family: "Open Sans";
    color: #f15500;
    font-size: 48px;
    font-weight: bold;
    font-style: italic; }
  .about-hatchit .about-subheading {
    color: #777b7d;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -0.02em; }
    .about-hatchit .about-subheading p {
      color: #787c7d;
      font-size: 21px;
      margin-right: 40px;
      font-weight: 300;
      margin-top: 20px;
      letter-spacing: -0.01em;
      line-height: 1.7;
      opacity: 0.8; }

.title-wrap {
  position: relative;
  display: block !important;
  margin-top: 0px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out 1s;
  -moz-transition: opacity 0.6s ease-in-out 1s;
  -ms-transition: opacity 0.6s ease-in-out 1s;
  -o-transition: opacity 0.6s ease-in-out 1s;
  transition: opacity 0.6s ease-in-out 1s; }

.about-intro {
  margin-top: 30%; }
  .about-intro h1, .about-intro span {
    position: relative;
    z-index: 99; }

.about-header {
  position: relative; }
  .about-header header {
    z-index: 999;
    position: relative; }
  .about-header .intro-bg {
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.our-clients {
  text-align: center; }
  .our-clients .clients_title {
    color: #f15500;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-transform: none;
    margin-top: 75px; }
  .our-clients h3.subtitle {
    color: #777b7d;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 100;
    text-transform: none;
    margin-top: 14px; }
  .our-clients #map {
    background-color: white;
    background-image: url(../../img/Hatchit-Worldwide-Client-List.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #8d8c8c;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    margin: 50px auto 0;
    font-weight: bold;
    position: relative;
    max-width: 1270px;
    height: 600px; }
    .our-clients #map .inner {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .our-clients #map .pin {
      background-repeat: no-repeat;
      background-image: url(../../img/pin.png);
      width: 42px;
      height: 57px;
      position: absolute;
      margin-top: -250px;
      opacity: 0;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; }
      .our-clients #map .pin.ca {
        left: 115px;
        top: 238px; }
        .our-clients #map .pin.ca.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.la {
        left: 220px;
        top: 240px; }
        .our-clients #map .pin.la.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.ny {
        left: 275px;
        top: 206px; }
        .our-clients #map .pin.ny.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.de {
        left: 602px;
        top: 166px; }
        .our-clients #map .pin.de.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.gr {
        left: 673px;
        top: 205px; }
        .our-clients #map .pin.gr.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.ph {
        left: 1035px;
        top: 293px; }
        .our-clients #map .pin.ph.inview {
          margin-top: 0;
          opacity: 1; }
      .our-clients #map .pin.au {
        left: 1131px;
        top: 423px; }
        .our-clients #map .pin.au.inview {
          margin-top: 0;
          opacity: 1; }

.our-clients #map .pin.inview.t1 {
  -webkit-transition: all 0.45s ease-in-out 0.6s;
  -moz-transition: all 0.45s ease-in-out 0.6s;
  -ms-transition: all 0.45s ease-in-out 0.6s;
  -o-transition: all 0.45s ease-in-out 0.6s;
  transition: all 0.45s ease-in-out 0.6s; }

.our-clients #map .pin.inview.t2 {
  -webkit-transition: all 0.45s ease-in-out 0.7s;
  -moz-transition: all 0.45s ease-in-out 0.7s;
  -ms-transition: all 0.45s ease-in-out 0.7s;
  -o-transition: all 0.45s ease-in-out 0.7s;
  transition: all 0.45s ease-in-out 0.7s; }

.our-clients #map .pin.inview.t3 {
  -webkit-transition: all 0.45s ease-in-out 0.8s;
  -moz-transition: all 0.45s ease-in-out 0.8s;
  -ms-transition: all 0.45s ease-in-out 0.8s;
  -o-transition: all 0.45s ease-in-out 0.8s;
  transition: all 0.45s ease-in-out 0.8s; }

.our-clients #map .pin.inview.t4 {
  -webkit-transition: all 0.45s ease-in-out 0.9s;
  -moz-transition: all 0.45s ease-in-out 0.9s;
  -ms-transition: all 0.45s ease-in-out 0.9s;
  -o-transition: all 0.45s ease-in-out 0.9s;
  transition: all 0.45s ease-in-out 0.9s; }

.our-clients #map .pin.inview.t5 {
  -webkit-transition: all 0.45s ease-in-out 1s;
  -moz-transition: all 0.45s ease-in-out 1s;
  -ms-transition: all 0.45s ease-in-out 1s;
  -o-transition: all 0.45s ease-in-out 1s;
  transition: all 0.45s ease-in-out 1s; }

.our-clients #map .pin.inview.t6 {
  -webkit-transition: all 0.45s ease-in-out 1.1s;
  -moz-transition: all 0.45s ease-in-out 1.1s;
  -ms-transition: all 0.45s ease-in-out 1.1s;
  -o-transition: all 0.45s ease-in-out 1.1s;
  transition: all 0.45s ease-in-out 1.1s; }

.our-clients #map .pin.inview.t7 {
  -webkit-transition: all 0.45s ease-in-out 1.2s;
  -moz-transition: all 0.45s ease-in-out 1.2s;
  -ms-transition: all 0.45s ease-in-out 1.2s;
  -o-transition: all 0.45s ease-in-out 1.2s;
  transition: all 0.45s ease-in-out 1.2s; }

.meet-team a.prev-slide {
  width: 262px;
  height: 100px;
  background-color: #7cc624;
  display: block;
  top: 229px;
  position: absolute; }
  .meet-team a.prev-slide p {
    color: #fdfdfd;
    /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 100px;
    font-weight: 100; }
  .meet-team a.prev-slide span {
    display: block;
    background-image: url("../../img/white-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 100px;
    float: left;
    margin: 0 20px 0 30px; }
.meet-team a.next-slide {
  width: 100px;
  height: 100px;
  background-color: #7cc624;
  display: block;
  top: 229px;
  position: absolute;
  right: 0;
  z-index: 99999999999; }
  .meet-team a.next-slide p {
    color: #FDFDFD;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    line-height: 60px;
    font-weight: 100; }
  .meet-team a.next-slide span {
    display: block;
    background-image: url("../../img/white-arrow-right.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 22px;
    height: 100px;
    float: left;
    margin: 0 20px 0 40px; }
.meet-team ul.slides {
  width: 100%;
  padding: 0;
  margin: 0; }
  .meet-team ul.slides li {
    list-style: none; }
    .meet-team ul.slides li .photo {
      display: block; }
      .meet-team ul.slides li .photo img {
        max-width: 650px; }
    .meet-team ul.slides li .slider-container {
      max-width: 1280px;
      margin: 0 auto; }
    .meet-team ul.slides li .content {
      margin-top: 80px; }
      .meet-team ul.slides li .content .loves {
        display: block;
        border-style: solid;
        border-width: 1px 0;
        border-color: #e4ebed;
        margin-top: 40px; }
        .meet-team ul.slides li .content .loves ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          .meet-team ul.slides li .content .loves ul li {
            float: left;
            width: 25%;
            text-align: center;
            padding: 20px 0; }
            .meet-team ul.slides li .content .loves ul li:first-child {
              text-align: left; }
            .meet-team ul.slides li .content .loves ul li:last-child {
              text-align: right; }
            .meet-team ul.slides li .content .loves ul li p {
              color: #7DC525;
              font-family: "Open Sans", sans-serif;
              font-size: 60px;
              font-weight: bold;
              line-height: 50px;
              margin-bottom: 0; }
              .meet-team ul.slides li .content .loves ul li p span {
                color: #7dc525;
                font-family: "Open Sans", sans-serif;
                font-size: 21px;
                font-weight: bold;
                margin-bottom: 0; }
            .meet-team ul.slides li .content .loves ul li img {
              max-width: 100%; }
    .meet-team ul.slides li h2.slide-title {
      color: #f15500;
      font-family: "Open Sans", sans-serif;
      font-size: 48px;
      font-weight: bold;
      font-style: italic;
      background-color: transparent;
      padding: 0;
      text-align: left;
      margin-bottom: 3px; }
    .meet-team ul.slides li span {
      color: #A7ABAB;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block; }
    .meet-team ul.slides li .bio {
      display: block; }
      .meet-team ul.slides li .bio p {
        color: #777b7d;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px; }

@media (min-width: 1281px) {
  .meet-team ul.slides li .photo img {
    max-width: 690px; }

  .our-clients #map {
    width: 1270px;
    height: 482.6px; }
    .our-clients #map .pin.ca {
      left: 198px;
      top: 148px; }
    .our-clients #map .pin.la {
      left: 295px;
      top: 158px; }
    .our-clients #map .pin.ny {
      left: 335px;
      top: 132px; }
    .our-clients #map .pin.de {
      left: 598px;
      top: 100px; }
    .our-clients #map .pin.gr {
      left: 655px;
      top: 130px; }
    .our-clients #map .pin.ph {
      left: 948px;
      top: 204px; }
    .our-clients #map .pin.au {
      left: 1010px;
      top: 297px; } }
@media (max-width: 1280px) and (min-width: 1024px) {
  .our-clients #map {
    width: 1100px;
    height: 425px; }
    .our-clients #map .pin.ca {
      left: 172px;
      top: 123px; }
    .our-clients #map .pin.la {
      left: 251px;
      top: 130px; }
    .our-clients #map .pin.ny {
      left: 290px;
      top: 106px; }
    .our-clients #map .pin.de {
      left: 513px;
      top: 76px; }
    .our-clients #map .pin.gr {
      left: 566px;
      top: 105px; }
    .our-clients #map .pin.ph {
      left: 819px;
      top: 169px; }
    .our-clients #map .pin.au {
      left: 879px;
      top: 253px; } }
@media (max-width: 1023px) and (min-width: 850px) {
  .our-clients #map {
    width: 840px;
    height: 319.2px; }
    .our-clients #map .pin.ca {
      left: 129.96px;
      top: 106px; }
    .our-clients #map .pin.la {
      left: 188.48px;
      top: 110px; }
    .our-clients #map .pin.ny {
      left: 219.64px;
      top: 90px; }
    .our-clients #map .pin.de {
      left: 389.12px;
      top: 71px; }
    .our-clients #map .pin.gr {
      left: 429.4px;
      top: 95px; }
    .our-clients #map .pin.ph {
      left: 621.68px;
      top: 144px; }
    .our-clients #map .pin.au {
      left: 667.28px;
      top: 206px; } }
@media (max-width: 849px) and (min-width: 580px) {
  .our-clients #map {
    width: 570px;
    height: 216.6px; }
    .our-clients #map .pin.ca {
      left: 82px;
      top: 114.4px; }
    .our-clients #map .pin.la {
      left: 121px;
      top: 115.5px; }
    .our-clients #map .pin.ny {
      left: 139.5px;
      top: 110.0px; }
    .our-clients #map .pin.de {
      left: 256px;
      top: 90.2px; }
    .our-clients #map .pin.gr {
      left: 281px;
      top: 102.3px; }
    .our-clients #map .pin.ph {
      left: 409px;
      top: 158.4px; }
    .our-clients #map .pin.au {
      left: 439px;
      top: 182.6px; } }
/* Our Work
-------------------------- */
.our-work-header {
  padding: 30px;
  min-height: 40px;
  color: #000; }
  .our-work-header nav.main-menu ul li a {
    color: #000; }
  .our-work-header .logo_lettering {
    fill: #000; }
  .our-work-header .greater_than,
  .our-work-header .less_than,
  .our-work-header .equal {
    fill: #f15500; }

.featured-work {
  width: 100%; }
  .featured-work .featured-work-wrapper {
    width: 83%;
    max-width: 1300px;
    margin: 0 auto; }
  .featured-work .featured-work-item {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border-bottom: 8px solid #fff; }
    .featured-work .featured-work-item.bottom-none {
      border-bottom: 0; }
    .featured-work .featured-work-item .featured-work-img, .featured-work .featured-work-item .featured-work-title {
      min-height: 365px; }
    .featured-work .featured-work-item img {
      position: absolute;
      bottom: -3%;
      z-index: 10;
      -webkit-transition: bottom .3s ease-in-out;
      -moz-transition: bottom .3s ease-in-out;
      -ms-transition: bottom .3s ease-in-out;
      -o-transition: bottom .3s ease-in-out;
      transition: bottom .3s ease-in-out;
      height: 86%;
      max-width: 543px;
      right: 0; }
    .featured-work .featured-work-item .featured-work-content {
      position: absolute;
      left: 0;
      z-index: 10;
      color: #fff;
      left: 0%;
      top: 27%;
      -webkit-transition: top .4s ease-in-out;
      -moz-transition: top .4s ease-in-out;
      -ms-transition: top .4s ease-in-out;
      -o-transition: top .4s ease-in-out;
      transition: top .4s ease-in-out; }
      .featured-work .featured-work-item .featured-work-content h2 {
        font-family: "Open Sans Extrabold Italic", arial;
        font-size: 60px; }
      .featured-work .featured-work-item .featured-work-content p {
        font-size: 20px;
        font-weight: 300; }
    .featured-work .featured-work-item .bkg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      z-index: 2; }
      .featured-work .featured-work-item .bkg-overlay.k2-coolers {
        background: #0c78b6; }
      .featured-work .featured-work-item .bkg-overlay.hp-serve {
        background: #3bc0be; }
      .featured-work .featured-work-item .bkg-overlay.cma-tech {
        background: #054b6f; }
      .featured-work .featured-work-item .bkg-overlay.lsu-overlay {
        background: #461d7c; }
      .featured-work .featured-work-item .bkg-overlay .content_bottom {
        left: 8%;
        top: 47%;
        width: 40%;
        position: relative;
        -webkit-transition: visibility .4s ease-in-out;
        -moz-transition: visibility .4s ease-in-out;
        -ms-transition: visibility .4s ease-in-out;
        -o-transition: visibility .4s ease-in-out;
        transition: visibility .4s ease-in-out;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        visibility: hidden; }
        .featured-work .featured-work-item .bkg-overlay .content_bottom ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          .featured-work .featured-work-item .bkg-overlay .content_bottom ul li {
            color: #fff;
            display: inline;
            margin-right: 6px;
            padding-right: 25px;
            visibility: hidden;
            background: url(../../img/work-arrow.png) no-repeat right center;
            -webkit-transition: visibility .8s ease-in-out;
            -moz-transition: visibility .8s ease-in-out;
            -ms-transition: visibility .8s ease-in-out;
            -o-transition: visibility .8s ease-in-out;
            transition: visibility .8s ease-in-out; }
            .featured-work .featured-work-item .bkg-overlay .content_bottom ul li:last-child {
              background: none; }
        .featured-work .featured-work-item .bkg-overlay .content_bottom .fake_button {
          border: 1px solid #fff;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          font-size: 12px;
          display: inline-block;
          color: #fff; }
          .featured-work .featured-work-item .bkg-overlay .content_bottom .fake_button span {
            padding: 12px 18px;
            display: inline-block; }
            .featured-work .featured-work-item .bkg-overlay .content_bottom .fake_button span.gt_arrow {
              padding: 15px 18px;
              border-left: 1px solid #fff;
              font-size: 14px; }
    .featured-work .featured-work-item:hover img {
      bottom: 0px; }
    .featured-work .featured-work-item:hover .bkg-overlay {
      opacity: .8;
      z-index: 2; }
      .featured-work .featured-work-item:hover .bkg-overlay .content_bottom {
        visibility: visible; }
        .featured-work .featured-work-item:hover .bkg-overlay .content_bottom ul li {
          visibility: visible; }
    .featured-work .featured-work-item:hover .featured-work-content {
      top: 10%; }

.our-work-intro {
  margin-top: 7%; }

.our-work-intro h1 {
  font-family: 'Open Sans Extrabold Italic', arial;
  font-size: 72px;
  line-height: 1em; }

.our-work-intro span {
  font-family: 'Open Sans Extrabold Italic', arial;
  font-size: 36px;
  line-height: 1em; }

.all-work #Container .mix {
  display: none; }
.all-work .want_more {
  background: #f1f6f7;
  font-size: 36px;
  color: #222222;
  padding: 5% 0;
  text-align: center;
  font-family: "Open Sans Extrabold Italic", arial; }
.all-work .work_wrapper {
  width: 98%;
  margin: 0 auto 2%; }
.all-work .work {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  width: 94%;
  display: block;
  min-height: 284px;
  position: relative;
  text-align: center;
  display: table;
  margin: 3%; }
.all-work .work_filter {
  text-align: center;
  padding: 3% 0;
  position: relative; }
  .all-work .work_filter:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 20px #f1f6f7;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent; }
  .all-work .work_filter ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style: none; }
    .all-work .work_filter ul li {
      display: inline;
      margin: 0 20px; }
      .all-work .work_filter ul li a {
        color: #222222;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent; }
        .all-work .work_filter ul li a:hover, .all-work .work_filter ul li a.current {
          text-decoration: none;
          border-bottom-color: #222; }

.work .black_overlay {
  position: absolute;
  background: black transparent;
  background: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA000000, endColorstr=#AA000000)";
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: .5s background ease-in-out;
  -moz-transition: .5s background ease-in-out;
  -ms-transition: .5s background ease-in-out;
  -o-transition: .5s background ease-in-out;
  transition: .5s background ease-in-out; }

.work:hover .black_overlay {
  background: transparent;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)"; }

.work .work_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition: .5s all ease-in-out;
  -ms-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  opacity: 0.0;
  padding-top: 25%;
  font-size: 16px;
  font-weight: 100;
  height: 100%; }
  .work .work_overlay .view_project {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 11px; }
    .work .work_overlay .view_project span {
      margin-left: 6px; }
.work .work_logo {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10; }
  .work .work_logo img {
    max-width: 100%;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out; }
.work:hover .work_logo img {
  margin-top: -25%; }
.work:hover .work_overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  color: #fff;
  padding-top: 35%; }
.work:hover .ccs_overlay {
  background: #e33a34; }
.work:hover .tedx_overlay {
  background: #584aab; }
.work:hover .gardere_overlay {
  background: #1465b8; }

/*# sourceMappingURL=styles.css.map */
